extends layout

block script

  script(src="/js/devices.js")

block content

  table.table.table-striped.table-bordered#devices
    thead
      tr
        th ID
        th Last Message
    tbody
      each device in devices
        tr(id="device.#{device.id}")
          td.id= device.id
          td.time.timeago(title=device.last)= device.last
