html

  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/css/service.css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(type="text/javascript", src="/faye/client.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/index.js")
    block head

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button(type="button", data-toggle="collapse", data-target=".nav-collapse").btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/") Machine Cloud
          .nav-collapse.collapse
            ul.nav
              li.active
                a(href="/devices") Devices
              li
                a(href="/routers") Routers
              li
                a(href="/models")  Models
    .container
      block content
