html

  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      body { padding-top: 60px; }
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href="/css/pick-a-color.min.css")
    link(rel="stylesheet", href="/css/service.css")
    if salesforce
      link(rel="stylesheet", href="/css/canvas.css")
    block head

  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.brand(href="/") Machine Cloud
          ul.nav
            != navigation('Stats', '/stats')
            != navigation('Devices', '/devices')
            != navigation('Rules', '/rules')
            != navigation('Models', '/models')
    .container
      block content

    script(type="text/javascript", src="//code.jquery.com/jquery-1.10.1.min.js")
    script(type="text/javascript", src="/faye/client.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/tinycolor.min.js")
    script(type="text/javascript", src="/js/pick-a-color.min.js")
    script(type="text/javascript", src="/js/jquery.timeago.js")
    script(type="text/javascript", src="/js/service.js")
    block script
