extends ../layout

block script

  script(src="/js/models.js")

block content

  table.table.table-striped.table-bordered#models
    thead
      tr
        th.nowrap Name
        th(style="width:50%") Inputs
        th(style="width:50%") Outputs
        th
    tbody
    tfoot
      tr
        td(colspan=4)
          a.btn.btn-primary(href="/models/new") New Model
