extends ../layout

block script

  script(src="/js/stats.js")

block content

  table.table.table-striped.table-bordered#stats
    tr
      th Messages per Second
      td#messages
    tr
      th Device Count
      td#devices
